<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" class="container">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Log in</button>
    </form>
</body>
</html>